numpy
Cython
dragonmapper
tensorboard
Unidecode
soundcard
chinese_converter
g2pM
g2pk
jamo
pyopenjtalk
espeak_phonemizer
phonemizer
pyworld
safetensors
librosa
loguru
scipy==1.10.0
matplotlib==3.7.0
matplotlib-inline
torch
torchvision
torchaudio
